@font-face {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-display: auto;
}
html {
  box-sizing: border-box;
}

body {
  font-family: Montserrat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

*, *:before, *:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

button {
  color: #000;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
}
nav .container {
  display: flex;
  background-color: #00487C;
  color: #fff;
}
nav .container a {
  padding: 15px;
}
nav .container .links {
  padding: 30px;
  align-self: flex-end;
}
nav .container .links a {
  right: 0;
  color: #fff;
  font-weight: 900;
}
nav .container .links a:hover {
  color: #4BB3FD;
}
