@import 'globals'

nav
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 50
  .container
    display: flex
    background-color: $blue-1
    color: #fff

    a
      padding: 15px
    .links
      padding: 30px
      align-self: flex-end
      a
        right: 0
        color: #fff
        font-weight: 900
        &:hover
          // background-color: $blue-5
          color: $blue-2